<div class="container-fluid well" style="width:60%">
	<div>
		<h1>Hãy tạo vót cho bạn!!</h1>
	</div>
	<div>
		<form class="form-horizontal" role="form" ng-model="form">
			<div class="form-group">
				<label for="Title" class="col-sm-2 control-label">Title</label>
				<div class="col-sm-10" style="width:40%">
					<input type="text" class="form-control" id="firstname"
						placeholder="Hãy nhập câu hỏi khảo sát của bạn" ng-model="title"> 
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-default" ng-click="addMoreOption()">Thêm nhiều lựa chọn</button>
				</div>
			</div>
			<div class="form-group" ng-repeat="choice in options">
				<label for="lastname" class="col-sm-2 control-label">Lựa chọn số {{choice.id}}</label>
				<div class="col-sm-10" style="width:40%">
					<input type="text" class="form-control" id="option-{{choice.id}}"
						placeholder="Nhập lựa chọn" ng-model="choice.value">
				</div>
			</div>
			<div class="form-group" style="float:right">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="button" class="btn btn-default" ng-click="goNext()">Tiếp</button>
				</div>
			</div>
		</form>
	</div>

</div>